/*font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Space Mono', monospace;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Desktop Layout*/

body {
    font-size: 16px;
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    display: grid;
}

.logo {
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -0.05em;
    margin: 40px 0 0 77px;
}

.content {
    font-family: Space Mono, monospace;
    display: flex;
    justify-content: space-between;
    padding: 0 119px 0 77px;
}

.content-img {
    max-width: 539px;
    max-height: 443px;
    margin: 36px 24px 0 0;
}

.content-text h1 {
    font-size: 64px;
    color: #333333;
    width: 586px;
    height: 190px;
    margin: 24px 0 24px 0;
}

.content-text p {
    font-size: 24px;
    color: #4f4f4f;
    width: 385px;
    height: 108px;
    margin-bottom: 24px;
}

.content-text button {
    font-family: Space Mono, monospace;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    background-color: #333333;
    width: 216px;
    height: 68px;
}

.content-text button:hover, .content-text button:focus {
    background-color: #4f4f4f;
    cursor: pointer;
}

.footer {
    font-family: Montserrat, sans-serif;
    color: #BDBDBD;
    text-align: center;
    margin-bottom: 24px;
}

.footer a{
    text-decoration: none;
    color: #BDBDBD;
}

.footer a:first-child{
    font-weight: 700;
}

.footer a:last-child{
    font-weight: 600;
}

/* Mobile Layout*/
@media(max-width: 1000px){
    body{
        height:fit-content;
        padding: 0;
    }
    .content {
        max-width: 375px;
        display: block;
        width: 100%;
    }
    .logo{
        margin: 20px 0 0 24px;
    }
    .content-img{
        max-width: 286.83px;
        max-height: 238px;
        margin: 77px 44px 0 44px;
    }

    .footer{
        text-align: center;
        margin: 24px 42px 24px 44px;
    }
}